{% extends "base.html" %}
{% block title %}URLs{% endblock %}
{% block content %}
    <h2>URLs</h2>
    <table>
        <tbody>
            <tr>
                <td>URL</td>
                <td>Shorten</td>
                <td>Delete?</td>
            </tr>
            {% for i in l %}
                <tr>
                    <td><a href={{ i.original_url }}>{{ i.original_url }}</a></td>
                    <td><a href={{ i.shortened_url }}>{{ i.shortened_url }}</a></td>
                    <td><a href={{ '../../api/deleteShorten?id=' + i.id }}>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}